[Unit]
Description=Sync slurm with ClusterCockpit

[Service]
Type=oneshot
WorkingDirectory=/opt/software/slurm/cc-slurm-sync
ExecStart=/opt/software/slurm/cc-slurm-sync/slurm-clusercockpit-sync.py
User=root

[Install]
WantedBy=multi-user.target
