{
	"slurm" : {
		"squeue": "/usr/bin/squeue",
		"sacct": "/usr/bin/sacct",
		"state_save_location" : "/var/spool/SLURM/StateSaveLocation"
	},
	"cc-backend" : {
		"host" : "https://some.cc.instance",
		"apikey" : "<jwt token>"
	},
	"accelerators" : {
		"n2gpu" : {
			"0": "00000000:03:00.0",
	        	"1": "00000000:44:00.0",
			"2": "00000000:84:00.0",
			"3": "00000000:C4:00.0"
		},
		"n2dgx" : {
			"0": "00000000:07:00.0",
			"1": "00000000:0F:00.0",
			"2": "00000000:47:00.0",
			"3": "00000000:4E:00.0",
			"4": "00000000:87:00.0",
			"5": "00000000:90:00.0",
			"6": "00000000:B7:00.0",
			"7": "00000000:BD:00.0"
		}
	},
	"node_regex" : "^(n2(lcn|cn|fpga|gpu)[\\d{2,4}\\,\\-\\[\\]]+)+$"
}
